* {
    margin: 0;
    padding: 0;
    color: #12285f;
}

body {
    background-color: #3D52A0;
    font-family: sans-serif;
}

.button-container {
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 300px;
    row-gap: 5px;

}

.btn {
    font-size: 72px;
    width: 72px;
    background-color: #EDE8F5;
    text-decoration: none;
    border: 1px solid #8697c4;
    border-radius: 3px;
    
}